In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [2]:
data_analyst = pd.read_csv("DataAnalyst.csv")
data_scientist = pd.read_csv("DataScientist.csv")
data_engineer = pd.read_csv("DataEngineer.csv")
print(len(data_analyst))
print(len(data_scientist))
print(len(data_engineer))
print(data_analyst.columns.values)
print(data_scientist.columns.values)
print(data_engineer.columns.values)

2253
3909
2528
['Unnamed: 0' 'Job Title' 'Salary Estimate' 'Job Description' 'Rating'
 'Company Name' 'Location' 'Headquarters' 'Size' 'Founded'
 'Type of ownership' 'Industry' 'Sector' 'Revenue' 'Competitors'
 'Easy Apply']
['Unnamed: 0' 'index' 'Job Title' 'Salary Estimate' 'Job Description'
 'Rating' 'Company Name' 'Location' 'Headquarters' 'Size' 'Founded'
 'Type of ownership' 'Industry' 'Sector' 'Revenue' 'Competitors'
 'Easy Apply']
['Job Title' 'Salary Estimate' 'Job Description' 'Rating' 'Company Name'
 'Location' 'Headquarters' 'Size' 'Founded' 'Type of ownership' 'Industry'
 'Sector' 'Revenue' 'Competitors' 'Easy Apply']

In [3]:
# extract skills from job description 
skills = ["python","c++","java","matlab",".net","c#","javascript","html","bash", "sql","nosql","hadoop","spark","impala","cassandra","kafka","hdfs","hbase","hive","r","spss","stata","excel","tableau"]

data = data_analyst
job = data["Job Description"]
value = []
for i in range(len(job)):
    skill = []
    jd = job[i]
    jd = re.split(r'\W+', jd)
    jd = [word.lower() for word in jd if len(word) > 0]
    for word in jd:
        if word in skills:
            skill.append(word)
    value.append(list(set(skill)))
    
data_analyst["Skills"] = pd.Series(value).apply(' '.join)

# print(data["Skills"])


data = data_scientist
job = data["Job Description"]
value = []
for i in range(len(job)):
    skill = []
    jd = job[i]
    jd = re.split(r'\W+', jd)
    jd = [word.lower() for word in jd if len(word) > 0]
    for word in jd:
        if word in skills:
            skill.append(word)
    value.append(list(set(skill)))
    
data_scientist["Skills"] = pd.Series(value).apply(' '.join)



data = data_engineer
job = data["Job Description"]
value = []
for i in range(len(job)):
    skill = []
    jd = job[i]
    jd = re.split(r'\W+', jd)
    jd = [word.lower() for word in jd if len(word) > 0]
    for word in jd:
        if word in skills:
            skill.append(word)
    value.append(list(set(skill)))
    
data_engineer["Skills"] = pd.Series(value).apply(' '.join)

In [4]:
data_scientist.drop(['index'], axis=1, inplace=True)

In [5]:
data_analyst['General Title'] = "data analyst"
data_scientist['General Title'] = "data scientist"
data_engineer['General Title'] = "data engineer"

In [6]:
data = pd.concat([data_analyst, data_scientist, data_engineer])
data.drop(['Unnamed: 0'], axis=1,inplace=True)
# print(len(data))
# print(data[:5])
print(type(data["Skills"].values.astype(str)))

<class 'numpy.ndarray'>

In [7]:
# missing value
data=data.replace(-1,np.nan)
data=data.replace(-1.0,np.nan)
data=data.replace('-1',np.nan)
data=data.replace('Unknown',np.nan)
data=data.replace('Unknown / Non-Applicable',np.nan)

def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns
missing_values_table(data)

                   Missing Values  % of Total Values
Easy Apply                   8300               95.5
Competitors                  6241               71.8
Revenue                      3003               34.6
Founded                      2208               25.4
Industry                     1277               14.7
Sector                       1274               14.7
Rating                        915               10.5
Size                          693                8.0
Type of ownership             595                6.8
Headquarters                  536                6.2
Salary Estimate                 1                0.0
Company Name                    1                0.0

In [8]:
title = data['Job Title']
general_title = data['General Title']
print(title.value_counts())

Data Engineer                                                                           729
Data Analyst                                                                            656
Data Scientist                                                                          282
Senior Data Engineer                                                                    140
Senior Data Analyst                                                                     137
                                                                                       ...
Associate Scientist R&D                                                                   1
Scientist II, DMPK (Biotransformation)                                                    1
Senior Data Scientist / Artificial Intelligence / Machine Learning / AI/ML Scientist      1
Associate Scientist - PCR                                                                 1
Data Analyst with Python or Python developer                                              1
Name: Job Title, Length: 3973, dtype: int64

In [9]:
size = data['Size']
print(size.value_counts())

10000+ employees           1925
51 to 200 employees        1373
1001 to 5000 employees     1286
1 to 50 employees          1260
201 to 500 employees        939
501 to 1000 employees       765
5001 to 10000 employees     449
Name: Size, dtype: int64

In [10]:
revenue = data['Revenue']
print(revenue.value_counts())

$10+ billion (USD)                  1181
$100 to $500 million (USD)           830
$50 to $100 million (USD)            563
$2 to $5 billion (USD)               475
$10 to $25 million (USD)             454
$1 to $5 million (USD)               385
$25 to $50 million (USD)             373
$1 to $2 billion (USD)               344
Less than $1 million (USD)           299
$5 to $10 billion (USD)              287
$500 million to $1 billion (USD)     261
$5 to $10 million (USD)              235
Name: Revenue, dtype: int64

In [11]:
# salary = data['Salary Estimate']
# print(salary.value_counts())

# min max salary
data['Salary Estimate'] = data['Salary Estimate'].str.replace('(', ' ')
data['Salary Estimate'],_=data['Salary Estimate'].str.split(' ', 1).str
print(data['Salary Estimate'].value_counts())
data['Min_Salary'],data['Max_Salary']=data['Salary Estimate'].str.split('-').str
data['Min_Salary']=data['Min_Salary'].str.strip(' ').str.lstrip('$').str.rstrip('K').fillna(0).astype('int')
data['Max_Salary']=data['Max_Salary'].str.strip(' ').str.lstrip('$').str.rstrip('K').fillna(0).astype('int')

$93K-$151K     62
$94K-$166K     62
$60K-$109K     62
$60K-$124K     62
$113K-$180K    61
               ..
$146K-$175K     3
$43K-$77K       3
$10-$26         3
$57K-$70K       2
$41K-$74K       1
Name: Salary Estimate, Length: 317, dtype: int64

<ipython-input-11-af686ab0ea23>:6: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  data['Salary Estimate'],_=data['Salary Estimate'].str.split(' ', 1).str
<ipython-input-11-af686ab0ea23>:8: FutureWarning: Columnar iteration over characters will be deprecated in future releases.
  data['Min_Salary'],data['Max_Salary']=data['Salary Estimate'].str.split('-').str

In [12]:
# average salary
data['Avg_Salary'] = (data['Min_Salary']+data['Max_Salary'])/2

In [13]:
rating = data['Rating']
print("the mean of rating is", np.mean(rating))
print("the variance of rating is",np.var(rating))

the mean of rating is 3.7832668810289367
the variance of rating is 0.39968527604140447

In [14]:
ownership = data['Type of ownership']
print(ownership.value_counts())

Company - Private                 4598
Company - Public                  2320
Nonprofit Organization             379
Subsidiary or Business Segment     375
Government                         149
College / University               124
Hospital                            38
Contract                            38
Private Practice / Firm             27
Other Organization                  22
School / School District            15
Self-employed                        7
Franchise                            3
Name: Type of ownership, dtype: int64

In [15]:
industry = data['Industry']
print(industry.value_counts())

IT Services                         1152
Staffing & Outsourcing               838
Computer Hardware & Software         619
Internet                             448
Health Care Services & Hospitals     399
                                    ...
Museums, Zoos & Amusement Parks        1
Commercial Equipment Rental            1
Self-Storage Services                  1
Shipping                               1
Religious Organizations                1
Name: Industry, Length: 108, dtype: int64

In [16]:
sector = data['Sector']
print(sector.value_counts())

Information Technology                2584
Business Services                     1619
Finance                                616
Health Care                            399
Biotech & Pharmaceuticals              361
Insurance                              242
Manufacturing                          220
Education                              181
Media                                  169
Aerospace & Defense                    153
Retail                                 146
Government                             142
Accounting & Legal                     141
Oil, Gas, Energy & Utilities            84
Telecommunications                      64
Transportation & Logistics              60
Consumer Services                       47
Non-Profit                              46
Real Estate                             40
Construction, Repair & Maintenance      39
Restaurants, Bars & Food Services       24
Arts, Entertainment & Recreation        22
Travel & Tourism                         9
Agriculture & Forestry                   6
Mining & Metals                          2
Name: Sector, dtype: int64

In [17]:
apply = data['Easy Apply']
print(apply.value_counts())

True    390
Name: Easy Apply, dtype: int64

In [19]:
competitor = data['Competitors']
print(competitor.value_counts())

Google, Microsoft, Samsung Electronics                                                    88
Google, Microsoft, Walmart                                                                78
Amazon, Accenture, Microsoft                                                              68
Cigna, Aetna, UnitedHealth Group                                                          36
Google, Microsoft, Apple                                                                  33
                                                                                          ..
Atlantic Health System, Robert Wood Johnson University Hospital, Solaris Health System     1
Blizzard Entertainment, Electronic Arts, Riot Games                                        1
JBS USA Holdings, Tyson Foods, Hormel                                                      1
Munich Re                                                                                  1
Berkshire Hathaway, Progressive Insurance, Allstate                                        1
Name: Competitors, Length: 676, dtype: int64

In [20]:
location = data['Location']
HQ = data['Headquarters']
data['Location_State/Country'] = data['Location'].apply(lambda x: x.split(',')[1].strip())
data['Location_City'] = data['Location'].apply(lambda x: x.split(',')[0].strip())

In [21]:
data['Founded'] = data['Founded'].astype(pd.Int32Dtype())
year = data['Founded']
print(year)

0       1961
1       1893
2       2003
3       2002
4       2009
        ...
2523    <NA>
2524    1993
2525    <NA>
2526    <NA>
2527    2000
Name: Founded, Length: 8690, dtype: Int32

In [22]:
# drop useless columns
data = data.drop(columns=['Salary Estimate', 'Location'])
print(data[:1])

                                           Job Title  \
0  Data Analyst, Center on Immigration and Justic...

                                     Job Description  Rating  \
0  Are you eager to roll up your sleeves and harn...     3.2

                     Company Name  Headquarters                  Size  \
0  Vera Institute of Justice\n3.2  New York, NY  201 to 500 employees

   Founded       Type of ownership           Industry      Sector  \
0     1961  Nonprofit Organization  Social Assistance  Non-Profit

                      Revenue Competitors Easy Apply        Skills  \
0  $100 to $500 million (USD)         NaN       True  r sql python

  General Title  Min_Salary  Max_Salary  Avg_Salary Location_State/Country  \
0  data analyst          37          66        51.5                     NY

  Location_City
0      New York

In [23]:
data.to_excel('cleaned_data.xlsx')

In [24]:
cleaned_data = pd.read_excel('cleaned_data.xlsx')
cleaned_analyst = cleaned_data[cleaned_data['General Title']=='data analyst']
cleaned_analyst.to_excel('cleaned_analyst.xlsx')
cleaned_scientist = cleaned_data[cleaned_data['General Title']=='data scientist']
cleaned_scientist.to_excel('cleaned_scientist.xlsx')
cleaned_engineer = cleaned_data[cleaned_data['General Title']=='data engineer']
cleaned_engineer.to_excel('cleaned_engineer.xlsx')